{% extends 'layout.html' %}




{% block title %} Home {% endblock %}




{% block body %}
<style>
	

	nav.navbar.navbar-inverse {
	    display: none!important;
	}
	span{
		font-weight: bold;
	}
</style>
<div class="container">
	<div style="width: 600px;margin: auto;">
		<center>
			<h2>Please Fill this form</h2>
		</center>
		<form action="{{ url_for('confirm_order') }}" method="POST">
			<label>Name:<span class="text-danger">*</span></label>

			<input type="text" class="form-control" name="name" required>
			<label>Emarate :<span class="text-danger">*</span></label>

			<input type="text" class="form-control" name="emarate" required>
			<label>Area :<span class="text-danger">*</span></label>

			<input type="text" class="form-control" name="area">
			<label>Street Number:<span class="text-danger">*</span></label>

			<input type="text" class="form-control" name="string_number" required>

			<label>Home  Number:<span class="text-danger">*</span></label>

			<input type="text" class="form-control" name="home_number" required>
			<label>Phone  Number:<span class="text-danger">*</span></label>

			<input type="numer" class="form-control" name="phone_number" required>


			 

<label for="">Products <span class="text-danger">*</span></label>
 <table class="table table-striped">


 <thead>


 <tr>


 <td>Select</td>


 <td>Title</td>
 <td>Description</td>
 <td>Price</td>
 <td>Category</td>
 <td>Image</td>
 




 </tr>


 </thead>


 <tbody>
 	 {% for row in computers %}

				<tr>
				 <td><input type="checkbox" name="pid" id=""  value="{{ row.0 }}"></td>
				 <td>{{ row.1 }}</td>
				 <td>{{ row.2 }}</td>
				
				 <td>{{ row.4 }}</td>
				 <td>{{ row.5 }}</td>
				 <td><img src="{{url_for('static',filename='/images/'+row.6)}}" width="50px" max-height="50px" alt="working"></td>
				 
				</tr>


		{% else %}


 <tr>



{% endfor %}
			</tbody>
		</table>


 <button class="btn btn-primary" type="sbumit">Proceed</button>

		</form>

	</div>
</div>				


{% endblock %}
