{% extends 'layout.html' %}




{% block title %} Home {% endblock %}




{% block body %}

<div class="container">
	<div style="width: 600px;margin: auto;">
		<form action="{{ url_for('confirm_order') }}" method="POST">
			<label>Name:</label>

			<input type="text" class="form-control" name="name">
			<label>Emarate :</label>

			<input type="text" class="form-control" name="emarate">
			<label>Area :</label>

			<input type="text" class="form-control" name="area">
			<label>Street Number:</label>

			<input type="text" class="form-control" name="string_number">

			<label>Home  Number:</label>

			<input type="text" class="form-control" name="home_number">
			<label>Phone  Number:</label>

			<input type="numer" class="form-control" name="phone_number">


			 

<label for="">Products</label>
 <table class="table table-striped">


 <thead>


 <tr>


 <td>Select</td>


 <td>Title</td>
 <td>Description</td>
 <td>Price</td>
 <td>Category</td>
 <td>Image</td>
 




 </tr>


 </thead>


 <tbody>
 	 {% for row in computers %}

				<tr>
				 <td><input type="checkbox" name="pid" id=""  value="{{ row.0 }}"></td>
				 <td>{{ row.1 }}</td>
				 <td>{{ row.2 }}</td>
				
				 <td>{{ row.4 }}</td>
				 <td>{{ row.5 }}</td>
				 <td><img src="{{url_for('static',filename='/images/'+row.6)}}" width="50px" max-height="50px" alt="working"></td>
				 
				</tr>


		{% else %}


 <tr>



{% endfor %}
			</tbody>
		</table>

<input type="disabled" name="total_price" class="pull-rigjt no-borders" value="10" id="" >
 <button class="btn btn-primary" type="sbumit">Submit</button>

		</form>

	</div>
</div>				


{% endblock %}
