<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<style>
		*{
			padding: 0;
			margin: 0;
		}
		body{
			background: rebeccapurple;
			font-family: arial;
		}
		div{
			position: absolute;
			top: 25%;
			left: 25%;
			color: #fff;
		}
	</style>
	<div style="vertical-align: middle!important; text-align: center;">
		<h1>Thanks for ordering: {{c_name}}</h1>
		<h2>Your Bill is: {{c_price}}</h2>
		<p>We will contact you soon.</p>
	</div>
</body>
</html>