<html>
<head>
	<meta charset='utf-8' /> 
	<title>HTML Document</title>
	<link rel='stylesheet' href="{{ url_for('static',filename='style.css') }}"/>
</head>
<style>
/*
	form{
		background:red;
	}
	p{
		color:#0f0;
	}

*/
</style>
<body> 
<!-- Anchor tag-->
<a href='https://www.google.com/' target='_blank'>Click Here</a> 
<p id='demop'> working <b>working</b> <span>Working</span></p>
<div id='demoid'>



</div>
	<!--form-->
	<form style="">
		<label for='text'>Text</label><br><br/>
		<input type='text' placeholder='Username'><br/><br>
		<input type='email'><br><br>
		<input type='checkbox' name='couse'> HTML <input type='checkbox'  name='couse'> CSS <input  name='couse' type='checkbox'> JS<br><br>
		<input type='password' id='text'/><br><br>
		
		<input type='radio' name='level'  value='Basic'> <span>Basic</span> <input type='radio' value='inter'  name='level'> Intermdiate <input value='Expert'  name='level' type='radio'> JS<br><br>
		<select>
			<option>Select Option</option>
			<option value='1'>1</option>=
			<option  value='2'>2</option>
			<option  value='3'>3</option>
		</select><br/><br/>		
		<input type='submit' value='Login'/>
		<textarea row='' col=''></textarea>
	</form>
	<!--heading tags--->
	<h1>Heading 1 <span> Hello world </span></h1>
	<p id='paragraph_id'>This is the <b>paragraph</b>, <strong>StrongBold</strong>, <i>Italic</i>, <u>underline</u></p>
	<h2>Heading 2</h2>
	<h3>Heading 2</h3>
	<h4>Heading 2</h4>
	<h5>Heading 2</h5>
	<h6>Heading 2</h6>
	<!--paragraph tag-->
	<p class='p_class'>This is the <b>paragraph</b>, <strong>StrongBold</strong>, <br> <i>Italic</i>, <u>underline</u>, 25<sup>2</sup> </p>
	<button>Submit</button><span>Sucess: You have been logged in!</span><br>
	<!--Table -->
	<table border='1px'>
		<thead>
			
			<th>R1C1</th>
			<th>R1C2</th>
			<th>R1C3</th>
			<th>R1C4</th>
			
		</thead>
		<tbody>
			<tr>
				<td>R1C1</td>
				<td>R1C2</td>
				<td>R1C3</td>
				<td>R1C4</td>
			</tr>
			<tr>
				<td>R2C1</td>
				<td>R2C2</td>
				<td>R2C3</td>
				<td>R2C4</td>
			</tr>
			<tr>
				<td>R3C1</td>
				<td>R3C2</td>
				<td>R3C3</td>
				<td>CR34</td>
			</tr>
		</tbody>
	</table>
<section><section>
<div>

</div>
</body>
</html>


